@page
@model SilentAuction.Pages.Organizations.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Organization</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.ContactTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.ContactTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.Website)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.Website)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.DonorStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.DonorStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.PreferredContact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.PreferredContact)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.DonationSpecialist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.DonationSpecialist.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.CellNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.CellNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.AddressOne)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.AddressOne)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.AddressTwo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.AddressTwo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.ZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Organization.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
