@page
@model SilentAuction.Pages.WinningBids.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WinningBid[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WinningBid[0].BidStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WinningBid[0].DonationSpecialist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WinningBid[0].Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WinningBid[0].Bidder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.WinningBid) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonationSpecialist.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bidder.FullName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ItemID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ItemID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ItemID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
